@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.MainPage {
    min-height: 100vh;
    background-attachment: fixed;
    background-image: url('../CSS/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}