.buttona, .gbutton{
    background-color: #001F3F;
    border: 2px solid #001F3F;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;

    width: 110px;
}

.gbutton {
    width: 95px;
    border: none;
    font-size: 12px;
}

.gbutton:hover {
    background-color: white;
    border: none;
    color: #001F3F;
}
  
.buttona:hover {
    background-color: white;
    border: none;
    color: #001F3F;
}

.editor {
    width: 100%;
    height: 600px; 
    border: 2px solid #001F3F;
    margin-top: 10px;
    margin-bottom: 10px;
}

.system-name-container {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .system-name-input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #001F3F;
    border-radius: 4px;
    width: 100%;
  }
